<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="#">PassTheBook</a>
            </div>
            <nav>
                
                <a routerLink="/publishbook">PUBLISHbookHERE</a>
                
                <a routerLink="/latestbookpublished">LATESTbooks</a>
                  
              <a>  <button (click)="logout()">LOGOUT</button> </a>
                
            </nav>

        </div>
    </header>

</div>
