.outer
{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
}
.inner
{
    width: 80%;
    height: 250px;
    margin-top: 30px;
}
.inner h1
{
    text-shadow: 3px 3px #797979;
}
.content
{
    font-size: 18px;
}