<div class="outer">
    <div class="inner">
        <h1>PassTheBook &nbsp; Story</h1>
        <div class="content">
            <p>
                PassTheBook is an online marketplace for books and novels where you can uodate your old books
                that you have read and are having no place to keep it and they are occupying unnecessary space
                on the shelves of your home. So let's sell out the books that we have read and are not willing to
                read it again.
            </p>
            <p>
                Why stack up the books you read only once? Let's share a story with someone else. This will help
                the other to increase their knowledge and add up a bit of money in your pocket.
            </p>
            <p>
                The charisma of PassTheBook is that it fills your shelves with books at an affordable price and
                at the same time you can clean it up by selling the books that you have read and earn something
                from it.
            </p>
        </div>
    </div>
</div>