<body>
    <div class="regform"><h1>Registration Form</h1></div>
    <div class="main">
        <form #f="ngForm">
            <div id="name">
                <h2 class="name">Name</h2>
                <input #firstnameref="ngModel" [(ngModel)]="firstnameprop" class="firstname" placeholder="firstname" type="text" name="firstname"><br>
                <label class="firstlable">first name</label>
                <input #lastnameref="ngModel" [(ngModel)]="lastnameprop" class="lastname" placeholder="lastname" type="text" name="lastname"><br>
                <label class="lastlable">last name</label>
            </div>
            <h2 class="name">Email</h2>
            <input #emailref="ngModel" [(ngModel)]="emailprop" class="email" placeholder="email" type="email" name="email">
            <h2 class="name">Password</h2>
            <input #passwordref="ngModel" [(ngModel)]="passwordprop" class="password" placeholder="password" type="password" name="password">
            <h2 class="name">Phone</h2>
            <input #coderef="ngModel" [(ngModel)]="codeprop" class="code" placeholder="code" type="number" name="code">
            <label class="area-code">Area Code</label>
            <input #numberref="ngModel" [(ngModel)]="numberprop" class="number" placeholder="phone number" type="number" name="phone">
            <label class="phone-number">Phone number</label>
            <button type="submit"  name="signup" (click)="signup()" >Register</button>



        </form>
    </div>
</body>